body {
  background-color: #fff !important;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.story-containerer {
  padding-top: 2rem;
}
